# ignoring these files/dirs in the buildout
/.installed.cfg
/.mr.developer.cfg
/.python-eggs
/bin
/buildout.cfg
/develop-eggs
/downloads
/dumped-versions.cfg
/eggs
zodbpack.conf
/fake-eggs
/parts
/Paste*
/products
/sixfeetup.egg-info
/src
/tags
/env/
/.idea/
/.vscode/
overrides.cfg
node_modules
*.map
*.pyc
*.egg-info
*.bak
package-lock.json
